.collectorContentContainer {
  /* background-color: #454255; */
  padding-left: 20px;
}

.collectorDetailedHeader {
  display: flex;
  /* align-items: center; */
}

.collectorInfo {
  /* color: white; */
  width: 100%;
}

.collectorIconContainer {
  background-color: #e6e6fa;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center; /* Center the icon horizontally */
  border-radius: 50%; /* Make it a circle */
  margin-right: 20px;
  margin-top: 20px;
}

.collectorIcon {
  width: 70%;
  height: auto;
}

.collectorTitle {
  color: #2c3e50;
  font-size: 1.2rem;
}

.collectorDescription {
  font-size: 0.9rem;
  color: #5d6d7e;
  margin-top: -10px;
}

.createCollectorButton {
  cursor: pointer;
  padding: 10px;
  border-radius: 0.5em;
  border: none;
  background-color: #1338be;
  color: white;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Push the button to the right */
  flex-grow: 1;
  margin-right: 5%;
}

.createCollectorButton:hover {
  background-color: #0d2d8e;
}
